# TravelHub - Variables de entorno globales

# PostgreSQL
POSTGRES_USER=travelhub_user
POSTGRES_PASSWORD=travelhub_pass
POSTGRES_DB=travelhub

# JWT Secret (cambiar en producción)
JWT_SECRET=mi_secreto_super_seguro_jwt_2024

# Service URLs (para desarrollo local sin Docker)
AUTH_SERVICE_URL=http://localhost:5000
CATALOG_SERVICE_URL=http://localhost:5001
